#values{
    user-select: none;
    font-family: monospace;
    margin:auto;
    border: 1px solid grey;
    width:14vw;
    font-size:2vw;
    text-align:left;
}

#ClickBox{
    user-select: none;
    margin:auto;
    margin-top:5%;
    border: 2px solid black;
    border-radius: 5%;
    height:15%;
    width:30%;
}

#StartButton{
    user-select: none;
    margin:auto;
    margin-left:40%;
    margin-top:10%;
    border: 3px red solid;
    background-color: crimson;
    border-radius: 20%;
    color:white;
    width:20%;
    text-align: center;
}